@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.menuBox{
    height: auto;
    width: 400px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid grey;
}
.label{
    margin: 10px 0;
    color: #ccc;
}
.detail{
    font-size: 14px;
    color: grey;
    font-weight: 500;
}
.dishImg{
    margin: 10px 0;
    height: 200px;
    width: 100%;
}
.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.btn{
    margin: 10px 0;
    display: flex;
    justify-content: end;
}
.design{
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    gap: 20px;
    align-items: center;
    /* text-overflow: ellipsis; */
    width: 100%;
    flex-wrap:wrap;
    max-width: 100%;
}