.navContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.navBox{
    height: 60px;
    width: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.navLinks{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.anchor{
    padding: 10px;
    cursor: pointer;
    
}
.link{
    text-decoration: none;
}
.anchor:hover{
    background-color: beige;
    padding: 10px;
}